<div class="container">
  <div class="row col-lg-12">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <h2>The Raspberry Pi 3</h2>
    <p>
      The Raspberry Pi 3 is the third generation Raspberry Pi. It replaced the Raspberry Pi 2 Model B in February 2016. Compared to the Raspberry Pi 2 it has:
    </p>
    <ul>
      <li>A 1.2GHz 64-bit quad-core ARMv8 CPU</li>
      <li>802.11n Wireless LAN</li>
      <li>Bluetooth 4.1</li>
      <li>Bluetooth Low Energy (BLE)</li>
      <li>1GB RAM</li>
      <li>4 USB ports</li>
      <li>40 GPIO pins</li>
      <li>Full HDMI port</li>
      <li>Ethernet port</li>
      <li>Combined 3.5mm audio jack and composite video</li>
      <li>Camera interface (CSI)</li>
      <li>Display interface (DSI)</li>
      <li>Micro SD card slot (now push-pull rather than push-push)</li>
      <li>VideoCore IV 3D graphics core</li>
    </ul>
    <p>
      The Raspberry Pi 3 has an identical form factor to the previous Pi 2 (and Pi 1 Model B+) and has complete compatibility with Raspberry Pi 1 and 2.
    </p>
    <i>
      We recommend the Raspberry Pi 3 Model B for use in schools, or for any general use. Those wishing to embed their Pi in a project may prefer the Pi Zero or Model A+, which are more useful for embedded projects, and projects which require very low power.
    </i>
  </div>
</div>
